version: '3.8'
services:
  api:
    build:
      context: ./api/
      target: development
    volumes:
      - ./api:/api
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
  postgres:
    image: postgres:11.2-alpine
    volumes:
      - database-data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sampledb
volumes:
  database-data: