version: '3.8'
services:
  api:
    build:
      context: ./api/
      target: production
    volumes:
      - ./api:/api
    ports:
      - "3000:3000"
  postgres:
    image: postgres:11.2-alpine
    volumes:
      - database-data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    env_file:
      - db.env
volumes:
  database-data:
